@import '../../assets/scss/variables';

#contact {
  background-color: $black;
  color: $white;

  .addresses {
    margin-top: 30px;
  }

  .contactform {
    background-color: white;
    color: $black;
    margin-bottom: 30px;
  }

  .heading2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    border-bottom: thin solid #ddd;
    margin-bottom: 15px;
  }

  .socialicons {
    margin-right: 24px;
    width: 48px;
    height: 48px;
    color: #888;
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
      color: black;
      transform: rotate(360deg);
    }

    span {
      top: -1px;
      position: relative;
    }
  }

  .formheading{
    h3{
      font-family: 'Barlow Condensed', sans-serif;
    }
  }

  .copyright{
    margin-top: 50px;
    text-align: center;
    border-top: thin solid #ddd;
    h6{
      padding: 15px;
    }
  }
}
