<div id="contact" class="fullpager flexcenter">
  <div class="container-fluid limit">
    <div class="row">
      <div class="col-12">
        <h3 class="heading">Contact</h3>
      </div>
      <div class="col-6 addresses">
        <h3 class="heading2">Meet us at</h3>
        <div class="row">
          <div class="col-6">
            <b>Headquarters</b>
            <p>
              Computer Power Group Inc <br />
              250,Regency CT ,Suite 101, <br />
              BROOKFIELD, WI 53045, <br />
              Phone: 262-782-2403, <br />
              Fax: 262-782-2404, <br />
              Email: info@cpg-inc.com
            </p>
            <p>
              Computer Power Group Inc <br />
              7020 A. C. SKINNER PARKWAY, <br />
              Suite 140,<br />
              JACKSONVILLE, FL 32256 <br />
              Email: info@cpg-inc.com
            </p>
          </div>
          <div class="col-6">
            <b>India</b>
            <p>
              Computer Power Group Pvt. Ltd.<br />
              Plot No: 173/154/B, <br />
              Door No: 1-90/7/B/67/2, <br />
              Patrika Nagar, Hitech City, <br />
              Opp.Cybergate way,<br />
              Hyderabad-500081, <br />
              Telangana,INDIA.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 justifycenter alignfe flexcolumn">
        <form [formGroup]="contactForm" (ngSubmit)="sendMessage()"
          class="easyform transparent viewanime-popout padtb24 padlr15 contactform easycard curved">
          <div class="formheading">
            <h3>Contact Us</h3>
          </div>
          <div class="formgroup">
            <input class="round" formControlName="name" placeholder="Name" type="text" value="" />
          </div>
          <div class="formgroup">
            <input class="round" placeholder="Email" type="email" value="" />
          </div>
          <div class="formgroup">
            <input class="round" placeholder="Subject" type="text" value="" />
          </div>
          <div class="formbuttonsgroup">
            <button type="submit" class="easybutton rounded bgsecondary flexgrow hoveranime-wobble">
              Send
            </button>
          </div>
        </form>
        <div class="row">
          <div class="col-12">
            <h3 class="heading2">Follow us on</h3>
          </div>
          <div class="col-12 justifyfs">
            <div class="socialicons">
              <span class="mdi mdi-facebook"></span>
            </div>
            <div class="socialicons">
              <span class="mdi mdi-twitter"></span>
            </div>
            <div class="socialicons">
              <span class="mdi mdi-instagram"></span>
            </div>
            <div class="socialicons">
              <span class="mdi mdi-linkedin"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 copyright">
        <h6>Copyright@2019</h6>
      </div>
    </div>
  </div>
</div>
