/* Variables */
$primary: #152962;
$secondary: #0080ff;
$primarydark: #10182d;
$secondarylight: #f0f7ff;
$primary-content: white;
$secondary-content: white;
$accentone: #fff0f0;
$base: #f8f8fe;

$white: #f8f8f8;
$black: #131313;
