<div id="about" class="fullpager flexcenter">
  <div class="container-fluid limit">
    <div class="row">
      <div class="col-12 textright">
        <h3 class="heading">About Us</h3>
      </div>
      <div class="col-6" style="border-right: thin solid #ddd">
        <b>Who we are</b>
        <p>
          CPG Inc is an IT Services Company headquartered in Milwaukee, USA.
          Since its inception in May 2003, CPG has emerged as a key player in
          the global IT outsourcing space. CPG currently has operations in the
          US, Europe and the Asia Pacific region (development centers in
          Milwaukee, Jacksonville and Hyderabad).
        </p>
        <br />
        <div class="goals viewanime-fadeinfromleft">
          <div class="image"><img src="/assets/images/target.png" /></div>
          <div class="content">
            <b>Vision</b>
            <p>
              To earn global admiration while building IT solutions to customers
              and not customers to implement IT solutions.
            </p>
          </div>
        </div>
        <div class="goals viewanime-fadeinfromleft">
          <div class="image"><img src="/assets/images/target.png" /></div>
          <div class="content">
            <b>Mission</b>
            <p>
              To transform customers' business problems into win-win
              opportunities To inspire continuous learning across the
              organization to work smart and play hard.
            </p>
          </div>
        </div>
        <div class="goals viewanime-fadeinfromleft">
          <div class="image"><img src="/assets/images/target.png" /></div>
          <div class="content">
            <b>Ethics & Culture</b>
            <p>
              A creative and well managed corporate and social responsibility
              programme is in the best interests of every individual at CPG Inc
              - not just stakeholders - but also our employees, customers,
              suppliers and other business partners who work together with us.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <b>Team CPG</b>
        <p>
          The management team inspires by example. Working as a team, CPG has
          consistently achieved its goals that are a strong reflection of its
          shared vision and commitment.
        </p>
        <br /><br />
        <p>
          We seek to be the best in the cyber security, Cloud services and staff
          augmentation ecosystem, in both customer and employee satisfaction. We
          want to hire the best, and we want to retain the best. We have seen
          that happy employees go hand-in-hand with happy customers. We truly
          believe that if our employees feel engaged, challenged, and empowered
          with the work they do every day, they will provide top-notch service
          for our clients and our prospective clients.
        </p>
      </div>
    </div>
  </div>
</div>
