@import '../../assets/scss/variables';

#cloud {
  background-color: $secondarylight;

  .quote {
    display: block;
    margin: 50px;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;

    &::before {
      content: '“';
      font-size: 2.4rem;
    }

    &::after {
      content: '”';
      font-size: 2.4rem;
    }

    b {
      font-size: 2.1rem;
      font-style: normal;
      font-weight: 900;
      margin-left: 5px;
    }
  }

  .tabbed {
    background-color: white;
    width: calc(100% - 30px);
    margin-bottom: 30px;
    min-height: 50px;
    overflow: hidden;

    .tabs {
      overflow: auto;
      max-width: 100%;

      .tab {
        width: 25%;
        min-width: 170px;
        text-align: center;
        padding: 15px 30px;
        cursor: pointer;
        border-top: 2px solid transparent;
        background-color: $white;
        border-right: thin solid #e2e2e2;

        &:last-child {
          border-right: none;
        }

        &.active {
          cursor: default;
          background-color: white;
          border-top: 2px solid $secondary;
        }
      }
    }

    .contents {
      overflow: auto;
      padding: 39px 24px;
      display: none;

      &.active{
        display: flex;
      }

      .contholder {
        padding-right: 24px;
        min-height: calc(100% - 78px);

        .content {
          cursor: default;
          height: 100%;
          width: 280px;
          min-width: 260px;
          padding: 24px 15px;
          opacity: 0;

          b {
            color: $secondary;
          }

          p {
            margin-top: 5px;
          }
        }
      }
    }
  }
}
