<div id="cloud" class="fullpager flexcenter">
  <div class="container-fluid limit">
    <div class="row">
      <div class="col-12">
        <h3 class="heading">Cloud Services</h3>
      </div>
      <div class="col-12 flexcenter">
        <span class="quote"> The third wave life is <b>CLOUD</b></span>
      </div>
      <div class="col-12 justifycenter">
        <div class="tabbed curved shadow1">
          <div class="tabs fullwidth justifyfs">
            <div [class.active]="tabIndex === 1" (click)="tabIndex = 1" class="tab">
              Objective
            </div>
            <div [class.active]="tabIndex === 2" (click)="tabIndex = 2" class="tab">
              Benefits
            </div>
            <div [class.active]="tabIndex === 3" (click)="tabIndex = 3" class="tab">
              Challenges
            </div>
            <div [class.active]="tabIndex === 4" (click)="tabIndex = 4" class="tab">
              Services
            </div>
          </div>
          <div [class.active]="tabIndex === 1" class="contents fullwidth justifyfs">
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Cloud Services</b>
                <p>
                  Move on-premise workloads to cloud with minimal business
                  interruption. Use PeopleSoft Cloud Manager for Lift and Shift
                  to help customers with the migration of on-premise PeopleSoft
                  environments to Oracle Cloud. Reducing the high cost of
                  on-premise infrastructure maintenance and support.
                </p>
              </div>
            </div>
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Client Advisory Services</b>
                <p>
                  We review and provide recommendation for your bottlenecks and
                  get improved customer satisfaction from existing investments.
                </p>
              </div>
            </div>
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Professional Services</b>
                <p>
                  Training: We provide training related to PeopleSoft enterprise
                  application and Oracle Cloud Infrastructure. Implementation
                  and Upgrade: We provide end to end implementation and upgrade
                  services on PeopleSoft Enterprise application.
                </p>
              </div>
            </div>
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Cloud Integration</b>
                <p>
                  Integrate various cloud providers such as Oracle Cloud and
                  Microsoft Azure using cross-cloud networking to take advantage
                  best of both clouds.
                </p>
              </div>
            </div>
          </div>
          <div [class.active]="tabIndex === 2" class="contents fullwidth justifyfs">
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Cloud Services</b>
                <p>
                  Move on-premise workloads to cloud with minimal business
                  interruption. Use PeopleSoft Cloud Manager for Lift and Shift
                  to help customers with the migration of on-premise PeopleSoft
                  environments to Oracle Cloud. Reducing the high cost of
                  on-premise infrastructure maintenance and support.
                </p>
              </div>
            </div>
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Client Advisory Services</b>
                <p>
                  We review and provide recommendation for your bottlenecks and
                  get improved customer satisfaction from existing investments.
                </p>
              </div>
            </div>
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Professional Services</b>
                <p>
                  Training: We provide training related to PeopleSoft enterprise
                  application and Oracle Cloud Infrastructure. Implementation
                  and Upgrade: We provide end to end implementation and upgrade
                  services on PeopleSoft Enterprise application.
                </p>
              </div>
            </div>
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Cloud Integration</b>
                <p>
                  Integrate various cloud providers such as Oracle Cloud and
                  Microsoft Azure using cross-cloud networking to take advantage
                  best of both clouds.
                </p>
              </div>
            </div>
          </div>
          <div [class.active]="tabIndex === 3" class="contents fullwidth justifyfs">
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Cloud Services</b>
                <p>
                  Move on-premise workloads to cloud with minimal business
                  interruption. Use PeopleSoft Cloud Manager for Lift and Shift
                  to help customers with the migration of on-premise PeopleSoft
                  environments to Oracle Cloud. Reducing the high cost of
                  on-premise infrastructure maintenance and support.
                </p>
              </div>
            </div>
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Client Advisory Services</b>
                <p>
                  We review and provide recommendation for your bottlenecks and
                  get improved customer satisfaction from existing investments.
                </p>
              </div>
            </div>
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Professional Services</b>
                <p>
                  Training: We provide training related to PeopleSoft enterprise
                  application and Oracle Cloud Infrastructure. Implementation
                  and Upgrade: We provide end to end implementation and upgrade
                  services on PeopleSoft Enterprise application.
                </p>
              </div>
            </div>
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Cloud Integration</b>
                <p>
                  Integrate various cloud providers such as Oracle Cloud and
                  Microsoft Azure using cross-cloud networking to take advantage
                  best of both clouds.
                </p>
              </div>
            </div>
          </div>
          <div [class.active]="tabIndex === 4" class="contents fullwidth justifyfs">
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Cloud Services</b>
                <p>
                  Move on-premise workloads to cloud with minimal business
                  interruption. Use PeopleSoft Cloud Manager for Lift and Shift
                  to help customers with the migration of on-premise PeopleSoft
                  environments to Oracle Cloud. Reducing the high cost of
                  on-premise infrastructure maintenance and support.
                </p>
              </div>
            </div>
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Client Advisory Services</b>
                <p>
                  We review and provide recommendation for your bottlenecks and
                  get improved customer satisfaction from existing investments.
                </p>
              </div>
            </div>
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Professional Services</b>
                <p>
                  Training: We provide training related to PeopleSoft enterprise
                  application and Oracle Cloud Infrastructure. Implementation
                  and Upgrade: We provide end to end implementation and upgrade
                  services on PeopleSoft Enterprise application.
                </p>
              </div>
            </div>
            <div class="contholder">
              <div class="easycard content viewanime-popout hover curved">
                <b>Cloud Integration</b>
                <p>
                  Integrate various cloud providers such as Oracle Cloud and
                  Microsoft Azure using cross-cloud networking to take advantage
                  best of both clouds.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
