<div id="staffing" class="fullpager flexcenter">
  <div class="container-fluid limit">
    <div class="row">
      <div class="col-12">
        <h3 class="heading">Staff Augmentation</h3>
      </div>
      <div class="col-12 justifysb padtb24 staffcards">
        <div class="col-3 cardholder">
          <div class="easycard hover staffcard curved">
            <div class="imageholder">
              <img src="/assets/images/team.jpg" />
            </div>
            <div class="info">
              <b>PMO</b>
              <p>
                The Process of Project Management is the real skill comes in
                contextualizing the applicability of technology, validating best
                practices and reuse in the specific business and enterprise
                context.Our unsurpassed recruiting methods, combined with our
                outstanding ability to understand your needs, allows us to
                inject exceptionally skilled expertise directly into your
                organization when you need special help - and only for as long
                as you need it.
              </p>
            </div>
          </div>
        </div>
        <div class="col-3 cardholder ">
          <div class="easycard hover staffcard curved">
            <div class="imageholder">
              <img src="/assets/images/team.jpg" />
            </div>
            <div class="info">
              <b>PMO</b>
              <p>
                The Process of Project Management is the real skill comes in
                contextualizing the applicability of technology, validating best
                practices and reuse in the specific business and enterprise
                context.Our unsurpassed recruiting methods, combined with our
                outstanding ability to understand your needs, allows us to
                inject exceptionally skilled expertise directly into your
                organization when you need special help - and only for as long
                as you need it.
              </p>
            </div>
          </div>
        </div>
        <div class="col-3 cardholder">
          <div class="easycard hover staffcard curved">
            <div class="imageholder">
              <img src="/assets/images/team.jpg" />
            </div>
            <div class="info">
              <b>PMO</b>
              <p>
                The Process of Project Management is the real skill comes in
                contextualizing the applicability of technology, validating best
                practices and reuse in the specific business and enterprise
                context.Our unsurpassed recruiting methods, combined with our
                outstanding ability to understand your needs, allows us to
                inject exceptionally skilled expertise directly into your
                organization when you need special help - and only for as long
                as you need it.
              </p>
            </div>
          </div>
        </div>
        <div class="col-3 cardholder">
          <div class="easycard hover staffcard curved">
            <div class="imageholder">
              <img src="/assets/images/team.jpg" />
            </div>
            <div class="info">
              <b>PMO</b>
              <p>
                The Process of Project Management is the real skill comes in
                contextualizing the applicability of technology, validating best
                practices and reuse in the specific business and enterprise
                context.Our unsurpassed recruiting methods, combined with our
                outstanding ability to understand your needs, allows us to
                inject exceptionally skilled expertise directly into your
                organization when you need special help - and only for as long
                as you need it.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
