@import '../../assets/scss/variables';

#staffing {
  background-color: $accentone;

  .staffcards {
    overflow: auto;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;

    .cardholder {

      .staffcard {
        cursor: default;
        height: 100%;
        width: 100%;
        background-color: white;
        overflow: hidden;
        margin-bottom: 24px;

        .imageholder {
          width: 100%;
          margin-bottom: 8px;

          img {
            width: 100%;
            height: auto;
          }
        }

        .info {
          padding: 24px 15px;

          b {
            color: $secondary;
          }

          p {
            margin-top: 5px;
          }

        }
      }
    }
  }
}
