/* You can add global styles to this file, and also import other style files */

@import './assets/scss/variables';

body {
  font-family: 'Be Vietnam', sans-serif !important;
  scroll-behavior: smooth;
}

.fullpager {
  min-height: calc(100vh - 80px);
  width: 100%;
}

.halfpager {
  min-height: calc(50vh - 40px);
}

.heading {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  padding: 5px 24px;
  margin: 30px 0px;
  text-transform: uppercase;
  border-left: 4px solid $secondary;
  border-right: 4px solid transparent;
}

.textright {
  .heading {
    border-right: 4px solid $secondary;
    border-left: 4px solid transparent;
  }
}
